services:
  web:
    build: .
    container_name: rails_web
    entrypoint: [ "/app/entrypoint.sh" ]
    command: bundle exec rails server -b 0.0.0.0 -p 3000
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: development
      # Postgres
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: moviestore_development
      # MySQL
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: moviestore_development
      # Redis
      REDIS_URL: redis://redis:6379/0
      # Memcached
      MEMCACHED_HOST: memcached
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    depends_on:
      - mysql
      - postgres
      - redis
      - memcached
      - sidekiq
    stdin_open: true
    tty: true
  
  sidekiq:
    build: .
    container_name: sidekiq_web
    command: bundle exec sidekiq
    environment:
      RAILS_ENV: development
      # Postgres
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: moviestore_development
      # MySQL
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: moviestore_development
      # Redis
      REDIS_URL: redis://redis:6379/0
      # Memcached
      MEMCACHED_HOST: memcached
    ports:
      - "3001:3001"
  
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: moviestore_development
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_development
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_cache
    restart: unless-stopped
    ports:
      - "6379:6379"

  memcached:
    image: memcached:1.6
    container_name: memcached_cache
    restart: unless-stopped
    ports:
      - "11211:11211"

volumes:
  mysql_data:
  postgres_data:
  bundle_cache:
